
body{
    margin: auto;
    max-width: 480px;
}
/*      header                  */
.header {
    position: sticky;
    top: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: black;
    width: 1885px;
}

.names {
    color: white;
    font-size: 40px;
    flex-basis: 50%;
    padding-left: 20rem;
    font-weight: 900;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


.phone-no {
    padding-left: 15rem;
    font-size: 30px;
    flex-basis: 50%;
    color: orangered;
    font-weight: 800;

}
@media (min-width: 320px) and (max-width: 480px) {

    .header{
      position: relative;
      right:10px;
     width: 500px;
     height: 50px;
    }
    .names{
        font-size: 30px;
        position: relative;
        top: 5px;
        left: -300px;

    }
    .phone-no {
        font-size: 30px;
        position: relative;
        top: -35px;
        left: -420px;  
    }
.icon-0{
     position: relative;
     top: 40px;
     left: -45px;

    }
    .icon-1{
     position:relative;

     left: 430px;
    }
}




                    /* Navebar*/
.icon-1 {
    position: fixed;
    top: 10px;
    right: 25rem;
    font-size: 30px;
    color: white;
}

.nav {
    position: fixed;
    top: 45px;
    right: 20rem;
    display: none;

}


.navber:hover .nav {
    display: block;
}

ul li {
    display: block;
    list-style-type: none;
    width: 150px;

}

ul li a {
    text-decoration: none;
    display: inline-block;

    color: black;
    padding: 8px;
    font-size: 25px;
    font-weight: 800;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

@media (min-width: 320px) and (max-width: 480px) {

    .nav {
        position: fixed;
        top: 40px;
        right:-50px;
        display: none;
    
    }
    ul li a{
        font-size: 15px;
    }
}


                  /*  Main */
.main {
    overflow: scroll;

}



/*----------------Section--------------*/
.section {
    background-image: url(bg-2.jpg);
    background-size: cover;
    height: 700px;
    background-position: center;

}

.row-1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-content: space-between;
    padding: 10rem;
}

h3 {
    padding-left: 15rem;
    padding-top: 5rem;
    color: rgb(224, 76, 18);
    font-size: 30px;
    word-spacing: 8px;
}

h1 {
    padding-left: 14.5rem;
    color: rgb(10, 10, 10);
    font-size: 50px;
    letter-spacing: 2px;
}

h4 {
    padding-left: 15rem;
    font-size: 20px;
}

.button {
    font-size: 20px;
    margin-left: 17rem;
    padding: 10px 20px;
    background-color: black;
    color: white;
    text-decoration: none;
}


.button:hover {
    background: linear-gradient(to right bottom, orange, red);
    color: black;
}

.ankar {
    font-size: 22px;
    padding-left: 20px;
    color: rgb(224, 76, 18);
}

.ankar:hover {
    text-decoration: none;
}




.right img {
    width: 70%;
    height: 300px;
    width: 300px;
    border-radius: 80%;
    border: 10px solid rgb(13, 13, 13);
    outline-color: rgb(255, 72, 0);
    outline-style: solid;
    outline-offset: 3px;
    outline-width: 10px;
}
.section:hover img{
    outline-color:rgb(87, 7, 247);
    outline-style: solid;
    outline-offset: 3px;
    outline-width: 10px;
  
}

.section:hover h1{
 color: blue;
}

.section:hover h3{
 color:black;
}


/*----------------------------------------------
             Media quary
--------------------------------------------*/
/*--------------------Mobile Phone-------------------*/
 @media (min-width: 320px) and (max-width: 480px) {
.main{
    height:2000pxpx;
}
    .section{
        height:450px;
        width: 100px;
    }
    
    .row-1{
        display:flex;
        justify-content: space-between;
        align-items: center;
        margin-top: -120px;

        
    }
   
    .left{
        position: relative;
        left: -380px;

    
    }
    h3{
        font-size: 13px;
     word-spacing:-1px ;
     margin-left: -5px;
    }
    h1{
        font-size: 22px;
    }
    h4{
        font-size:15px ;
        margin-left: -5px;
        margin-top: -10px;
    }
    .link{
        display: flex;
        justify-content: space-around;
        margin-left: -45px;
        align-items: center;
    }
    .button{
       white-space: nowrap;
    font-size: 14px;
    }
    .ankar{
       white-space: nowrap;
        font-size: 20px;
    }

  .right img{
    position: relative;
    left: -410px;
    height: 130px;
    width: 130px;
    border: 4px solid black;

   outline-color:orangered;
    outline-style: solid;
    outline-offset: 2px;
    outline-width: 5px;
   } 
 
}

                 /*About*/
h2 {
    background-color: rgba(255, 68, 0, 0.694);
    padding: 10px 15px;
    width: 115px;
    margin-left: 46%;
    margin-top: 8rem;

}

h5 {
    margin-top: 20px;
    font-size: 50px;
    text-align: center;
    margin-bottom: -30px;
}

/*----------------------------------------------
             Media quary
--------------------------------------------*/
/*--------------------Mobile Phone-------------------*/
@media (min-width: 320px) and (max-width: 480px) {
   .about{
    height: 1500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
   
   }
   .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin-top: -100px;
    margin-left: -50px;
   }
    .head{

    margin-top: -60px;
    margin-left: -50px;
   }
    h2{
    position: relative;
    left: -25px;
    font-size:15px ;
    text-align: center;
    width: 100px;
   
   }
   h5{
 
    font-size:25px ;
    text-align: center;
    margin-left:50px;
   }

.left-1{
    position: relative;
   width: 300px;
  top: -950px;
}

.right-1{
    position: relative;
    left: -450px;
 top: -500px;
}

.circle{
    width: 150px;
    height: 150px;
}
.exp{
    position: relative;
    font-size: 25px;
    top: -40px;
}
.address{
    display:grid;
    grid-template-columns:repeat(4,1fr) ;
   justify-content: space-between;
 
  
   
}
    }
                    /*container*/

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-content: space-between;
}

.left-1 {

    max-width: 600px;
    padding-left: 30rem;
    font-size: 30px;
    padding-top: 7rem;
}

#small {
    opacity: 0.5;
}

p {
    font-size: 20px;
}

.right-1 {

    padding-left: 10rem;
    padding-bottom: 10rem;

}

.circle {
    background-image: url(circle-2.png);
    width: 250px;
    height: 250px;
    background-repeat: no-repeat;


}

big {
    font-size: 100px;
    position: relative;
    top: 3rem;
    left: 5rem;

}

.exp {
    font-size:25px;
    margin-top:-100px;

}

hr{
    border: 1px solid gray;
width: 1500px;
margin-top: -50px;
}
.about:hover hr{
    border: 1px solid orangered;
  
}

.address {
    display:grid;
 grid-template-columns: repeat(4,1fr);
    align-items:center;
    padding: 5rem 10rem;
    text-align: center;
    font-size: 30px;
    line-height: 10px;
    margin-top: -5rem;
}

.email {
    text-decoration: underline;
}

.dob {
    flex-basis: 25%;
}


                       /*resume*/
.resume {
    padding-top: 0.5px;
    background-color: rgba(150, 150, 142, 0.418);
    background-position: center;
    background-size: cover;
    height: 1200px;

}

.hedder {
    margin-top: -50px;
    text-align: center;
    color: rgb(2, 2, 24);
}

.edu {
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    padding-left: 5rem;
    padding-right: 5rem;
    margin-top: 10rem;
}
                   /*cademy*/


.academy {
    flex-basis: 50%;

}

.myedu {
    font-size: 35px;
    color: rgb(20, 21, 21);
    text-align: left;
    padding-left: 15rem;
}



                 /*    degree    */
.degree {
    box-shadow: 0 0 10px 5px rgba(236, 228, 214, 0.613);
    margin-top: 4rem;
    text-align: left;
    padding: 10px;
    color: black;
    margin-left: 15rem;
    border-left: 5px solid orange;
    max-width: 600px;
    border-radius: 10px;
}

.msc {

    font-size: 25px;
    color: black;
}

.versity {
    margin-top: -30px;
    font-size: 20px;
    opacity: 0.6;
}

.add {
    margin-top: -30px;
    font-size: 20px;
    opacity: 0.3;
}

.div {
    content: '';
    height: 1px;
    width: 550px;
    background: black;
    margin-top: -20px;
}
.expeance {

    flex-basis: 50%;

}


.Exp {
    box-shadow: 0 0 10px 5px rgba(185, 183, 181, 0.613);
    margin-top: 4rem;
    text-align: left;
    padding: 10px;
    color: black;
    margin-right: 15rem;
    border-left: 5px solid orange;
    border-radius: 10px;
    max-width: 600px;
}

.myex {
    font-size: 35px;
    text-align: left;

}

/*----------------------------------------------
             Media quary
--------------------------------------------*/
/*--------------------Mobile Phone-------------------*/
@media (min-width: 320px) and (max-width: 480px) {

    .resume {
        position: relative;
        top: -600px;
        height: 1500px;
    }

    .headder{
        position: relative;
      top: -10em;
    right: 10rem;
    }
    .adu{
        position: relative;
        top: -300px;
    }
  
    .degree{
        position: relative;
        top: -20px;
        width: 380px;

    }
    .academy{
        position: relative;
        left: -300px;
        top: -100px;
    }
  .msc{
    font-size: 20px;
  }
  .versity{
    font-size: 15px;
  }
  .add{
    font-size: 15px;
  }
  .div{
    width: 350px;
  }


.myedu{
    position: relative;
    left: -48px;
    font-size: 25px;
    
}
.myex{
    position: relative;
    left: -100px;
    top: -100px;
    font-size: 25px; 
}
.Exp{
    position: relative;
    left: -60px;
    top: -100px;
    width: 380px;
}
}


                      /*footer*/
.footer {
    background-color: black;
    margin-top: 5rem;
    display: flex;
    text-align: center;
    padding: 30px;

}


.left-2 {
    flex-basis: 40%;
    color: white;
    font-size: 20px;
}

.left-2 a {
    color: orangered;
}

.right-2 {
    flex-basis: 40%;
    color: white;
    font-size: 20px;
    margin-left: 50rem;

}

.right-2 a {
    color: orangered;
}


/*----------------------------------------------
             Media quary
--------------------------------------------*/
/*--------------------Mobile Phone-------------------*/
@media (min-width: 320px) and (max-width: 480px) {
.footer{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
    position: relative;
    top: -670px;
    width: 400px;
    height: 60px;
}
.left-2{
    white-space: nowrap;
}
.right-2{
    position: relative;
    left: -800px;
    white-space: nowrap; 
}


}